.container-fluid {
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: center;
    height: 100vh;
}

.gameBorder {
    border: 5px dotted white;
}

#banner {
    height: 100%;
}